body {
  background-color: white;
}
.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgba(0,0,0,0.07);
  padding: 30px 0;
}
.review-list {
  ul {
    margin-bottom: 0;
    padding-left: 20px;
  }
}
.add-review {
  display: flex;
  align-items: center;
}
.review-form {
}
.review-content {
  text-align: right;
}
.error-message {
  margin: 20px 0;
}
.review-form-spaces {
  display: flex;
  align-items: center;
}
.new_review {
  text-align: center !important;
}
.container-reviews {
  background-color: rgba(255,255,255,0.3);
  text-align: left;
  padding: 20px 100px;
  box-shadow: 2px 1px 5px 2px rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 5px;
  width: 50vw;
  margin: 10px;
  margin-bottom: 20px;
}
.review-title {
  text-align: left;
  padding: 0;
  h3 {
    margin-top: 0;
  }
}
