/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  opacity: 0.6;
  font-size: 14px;
  font-weight: bold;
}
.alert-info {
  background: $green;
}
.alert-error {
  background: $red;
}
