/* Main navbar */
.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  background-color: transparent;
  transition: 0.5s background-color ease;
}
.navbar-white {
  background-color: white;
}
.empty {
  flex-grow: 1;
}
.fa-glass-martini {
  text-decoration: none;
  color: black;
  &:hover {
    opacity: 0.7;
  }
}
